cnr_park_data/
test_images/
models/
labeled_images/
couch_pklot_images/
.venv/
data/
__pycache__/
.DS_Store
.gitattributes
.ipynb_checkpoints/
.vscode/
nohup.out
00_cnn_cnr_dataset.ipynb
01_cnn_combined_dataset.ipynb
parking-vision-1-ae16cad5a5ad.json
mobile_app/ios/Runner/GoogleService-Info.plist