<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649807630991-po5d7ajmuus3ng2jo3icqo4cbteu1t0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649807630991-po5d7ajmuus3ng2jo3icqo4cbteu1t0d</string>
	<key>API_KEY</key>
	<string>AIzaSyAwqwudaAZJxeNjuodKgqGyUIW5kdLz-U0</string>
	<key>GCM_SENDER_ID</key>
	<string>649807630991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.APD-APPS.openSpot</string>
	<key>PROJECT_ID</key>
	<string>parking-vision-1</string>
	<key>STORAGE_BUCKET</key>
	<string>parking-vision-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649807630991:ios:8a737bc51e4303bb1116fa</string>
	<key>DATABASE_URL</key>
	<string>https://parking-vision-1.firebaseio.com</string>
</dict>
</plist>